/settings.json
settings-prod.json
settings-stg.json
settings-dev.json
dmz-www-00_id_rsa.pub
/mobile-config.js
.meteor/platforms
.meteor/versions
public/git.html
private/git.html
client/templates/git.html
/node_modules
**/.DS_Store
/private/users.json
/private/graff.json
imports/startup/both/code_version.js
imports/ui/components/git.html
private/version.json
